# Extract Avg and Max for TimeSeries

In [10]:
import numpy
import os
import pandas as pd

## CPU for PoS

In [153]:
target_sim_dir = "EthereumSimulation_i"
target_sim = "EthereumSimulation"

results_dir = "../scripts/results/"
results_csv = os.path.join(results_dir, target_sim_dir, target_sim + "_results.csv")

In [155]:
results_df = pd.read_csv(results_csv)

results_df

,Run,Num Peers,Chain Length,Runtime,Interval Start,Interval End,Peers In Sync,Blockchains Match
0,1,10,5,25.34,2025-04-30 16:15:05,2025-04-30 16:15:30,True,True
1,2,10,5,25.34,2025-04-30 16:15:30,2025-04-30 16:15:55,True,True
2,3,10,5,25.34,2025-04-30 16:15:55,2025-04-30 16:16:21,True,True
3,1,10,10,50.34,2025-04-30 16:16:21,2025-04-30 16:17:11,True,True
4,2,10,10,50.37,2025-04-30 16:17:11,2025-04-30 16:18:02,True,True
5,3,10,10,50.33,2025-04-30 16:18:02,2025-04-30 16:18:52,True,True
6,1,10,50,250.49,2025-04-30 16:18:52,2025-04-30 16:23:03,True,True
7,2,10,50,250.60,2025-04-30 16:23:03,2025-04-30 16:27:13,True,True
8,3,10,50,250.50,2025-04-30 16:27:13,2025-04-30 16:31:24,True,True
9,1,30,5,25.34,2025-04-30 16:31:24,2025-04-30 16:31:49,True,True
10,2,30,5,25.34,2025-04-30 16:31:49,2025-04-30 16:32:15,True,True
11,3,30,5,25.35,2025-04-30 16:32:15,2025-04-30 16:32:40,True,True
12,1,30,10,50.33,2025-04-30 16:32:40,2025-04-30 16:33:30,True,True
13,2,30,10,50.37,2025-04-30 16:33:30,2025-04-30 16:34:21,True,True
14,3,30,10,50.36,2025-04-30 16:34:21,2025-04-30 16:35:11,True,True
15,1,30,50,250.58,2025-04-30 16:35:11,2025-04-30 16:39:22,True,True
16,2,30,50,250.55,2025-04-30 16:39:22,2025-04-30 16:43:32,True,True
17,3,30,50,250.57,2025-04-30 16:43:32,2025-04-30 16:47:43,True,True
18,1,50,5,25.35,2025-04-30 16:47:43,2025-04-30 16:48:08,True,True
19,2,50,5,25.35,2025-04-30 16:48:09,2025-04-30 16:48:34,True,True
20,3,50,5,25.37,2025-04-30 16:48:34,2025-04-30 16:48:59,True,True
21,1,50,10,50.38,2025-04-30 16:48:59,2025-04-30 16:49:50,True,True
22,2,50,10,50.36,2025-04-30 16:49:50,2025-04-30 16:50:40,True,True
23,3,50,10,50.42,2025-04-30 16:50:40,2025-04-30 16:51:31,True,True
24,1,50,50,250.61,2025-04-30 16:51:31,2025-04-30 16:55:41,True,True
25,2,50,50,250.63,2025-04-30 16:55:41,2025-04-30 16:59:52,True,True
26,3,50,50,250.67,2025-04-30 16:59:52,2025-04-30 17:04:03,True,True

In [148]:
vmSphereExport = "../vmSphereExports/vm20_cpu_05_01_17_02_00_PM_18_02_00_PM.csv"

cpu_df = pd.read_csv(vmSphereExport)
# rename column "Usage in MHz for sp25-cs525-0720.cs.illinois.edu" to "usage"
cpu_df.rename(
    columns={"Usage in MHz for sp25-cs525-0720.cs.illinois.edu": "usage"}, inplace=True
)
# move all the time back four hours
cpu_df["Time"] = pd.to_datetime(cpu_df["Time"]).dt.tz_localize(None)
cpu_df["Time"] = cpu_df["Time"] - pd.Timedelta(hours=5)
cpu_df.head()

                 Time  Usage in MHz for 0  usage  Usage in MHz for 1
0 2025-05-01 17:04:00                 449   1103                 647
1 2025-05-01 17:04:20                 433   1032                 591
2 2025-05-01 17:04:40                 804    990                 179
3 2025-05-01 17:05:00                 765    836                  65
4 2025-05-01 17:05:20                 756    962                 200

In [149]:
results_df["CPU Max"] = results_df.apply(
    lambda row: cpu_df[
        (cpu_df["Time"] >= row["Interval Start"])
        & (cpu_df["Time"] <= row["Interval End"])
    ]["usage"].max(),
    axis=1,
)

# also find average
results_df["CPU Avg"] = results_df.apply(
    lambda row: cpu_df[
        (cpu_df["Time"] >= row["Interval Start"])
        & (cpu_df["Time"] <= row["Interval End"])
    ]["usage"].mean(),
    axis=1,
)

In [150]:
results_df

,Run,Num Peers,Chain Length,Runtime,Interval Start,Interval End,Peers In Sync,Blockchains Match,CPU Max,CPU Avg
0,1,10,5,25.28,2025-05-01 15:09:15,2025-05-01 15:09:41,True,True,NaN,NaN
1,2,10,5,25.34,2025-05-01 15:09:41,2025-05-01 15:10:06,True,True,NaN,NaN
2,3,10,5,25.36,2025-05-01 15:10:06,2025-05-01 15:10:31,True,True,NaN,NaN
3,1,10,10,50.34,2025-05-01 15:10:32,2025-05-01 15:11:22,True,True,NaN,NaN
4,2,10,10,50.35,2025-05-01 15:11:22,2025-05-01 15:12:12,True,True,NaN,NaN
5,3,10,10,50.35,2025-05-01 15:12:12,2025-05-01 15:13:03,True,True,NaN,NaN
6,1,10,50,250.54,2025-05-01 15:13:03,2025-05-01 15:17:13,True,True,NaN,NaN
7,2,10,50,250.55,2025-05-01 15:17:13,2025-05-01 15:21:24,True,True,NaN,NaN

In [142]:
# export the results to a new csv file
results_df.to_csv(
    os.path.join("pos_cpu_results_with_max_avg.csv"),
    index=False,
)

## CPU for PoL

In [106]:
target_sim_dir = "ProofOfLuck_iii_50_100"
target_sim = "ProofOfLuck"

results_dir = "../scripts/results/"
results_csv = os.path.join(results_dir, target_sim_dir, target_sim + "_results.csv")

In [105]:
results_df = pd.read_csv(results_csv)

results_df.head()

,Run,Num Peers,Chain Length,Runtime,Interval Start,Interval End,Peers In Sync,Blockchains Match
0,1,50,5,21.54,2025-05-01 17:54:42,2025-05-01 17:55:03,True,True
1,1,50,10,47.16,2025-05-01 17:55:03,2025-05-01 17:55:51,True,True
2,1,50,50,247.34,2025-05-01 17:55:51,2025-05-01 17:59:58,True,True
3,1,100,5,21.94,2025-05-01 17:59:58,2025-05-01 18:00:20,True,True
4,1,100,10,47.33,2025-05-01 18:00:20,2025-05-01 18:01:07,True,True

In [113]:
vmSphereExport = "../vmSphereExports/vm06_cpu_05_01_17_34_00_PM_18_34_00_PM.csv"

cpu_df = pd.read_csv(vmSphereExport)
# rename column "Usage in MHz for sp25-cs525-0720.cs.illinois.edu" to "usage"
cpu_df.rename(
    columns={"Usage in MHz for sp25-cs525-0706.cs.illinois.edu": "usage"}, inplace=True
)
# move all the time back four hours
cpu_df["Time"] = pd.to_datetime(cpu_df["Time"]).dt.tz_localize(None)
cpu_df["Time"] = cpu_df["Time"] - pd.Timedelta(hours=5)
cpu_df.head()

                 Time  Usage in MHz for 0  usage  Usage in MHz for 1
0 2025-05-01 17:34:20                  14     40                  18
1 2025-05-01 17:34:40                  20     39                  14
2 2025-05-01 17:35:00                  18     39                  15
3 2025-05-01 17:35:20                  18     39                  15
4 2025-05-01 17:35:40                  18     37                  14

In [114]:
results_df["CPU Max"] = results_df.apply(
    lambda row: cpu_df[
        (cpu_df["Time"] >= row["Interval Start"])
        & (cpu_df["Time"] <= row["Interval End"])
    ]["usage"].max(),
    axis=1,
)

# also find average
results_df["CPU Avg"] = results_df.apply(
    lambda row: cpu_df[
        (cpu_df["Time"] >= row["Interval Start"])
        & (cpu_df["Time"] <= row["Interval End"])
    ]["usage"].mean(),
    axis=1,
)

In [115]:
results_df

,Run,Num Peers,Chain Length,Runtime,Interval Start,Interval End,Peers In Sync,Blockchains Match,CPU Max,CPU Avg
0,1,50,5,21.54,2025-05-01 17:54:42,2025-05-01 17:55:03,True,True,270,270.000000
1,1,50,10,47.16,2025-05-01 17:55:03,2025-05-01 17:55:51,True,True,305,276.000000
2,1,50,50,247.34,2025-05-01 17:55:51,2025-05-01 17:59:58,True,True,484,400.166667
3,1,100,5,21.94,2025-05-01 17:59:58,2025-05-01 18:00:20,True,True,2634,1579.500000
4,1,100,10,47.33,2025-05-01 18:00:20,2025-05-01 18:01:07,True,True,2634,1363.666667
5,1,100,50,247.58,2025-05-01 18:01:08,2025-05-01 18:05:15,True,True,1163,985.500000

In [116]:
# export the results to a new csv file
results_df.to_csv(
    os.path.join("pol_cpu_results_with_max_avg.csv"),
    index=False,
)